@import '../../scss/base.scss';  // base css to use the bootstrap gird layout and custom scss varaibles

.input_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & .input_label {
        text-transform: capitalize;
        margin: 10px 0; 
    }

    & .primary_input {
        width: 200px;
        height: 100%;
        border: 1px solid $input_border;
        outline: none;
        padding: 10px;
        &:focus {
            border: 1px solid $input_focus;
        }
    }
}